# (express)DEPLOY_ENV（替换nodejs环境变量NODE_ENV，同步docker部署环境变量）
# enum => ['dev', 'test', 'pre', 'prd']
# DEPLOY_ENV=

# (webpack)地址域名段，默认localhost；对应开发环境的代理地址和热加载
HOST=

# (express+webpack)端口号，默认8080
PORT=

# (webpack+express) 开启开发环境同构打包构建&开启后端渲染代理
ALLOW_ISOMORPHIC_PROXY=true

# debug
DEBUG=


# 其他环境变量
# BABEL_CACHE_PATH=/Users/JimLin/SVNRepo/za-demo/my-cache.json