# express
# DEPLOY_ENV（替换nodejs环境变量NODE_ENV，同步docker部署环境变量）
# enum => ['dev', 'test', 'pre', 'prd']
# DEPLOY_ENV=dev

# express+webpack
# 开发工具开关
DEVTOOLS=true

# express+webpack
# debug开关
DEBUG=true

# webpack
# 地址域名段，默认localhost；对应开发环境的代理地址和热加载
# HOST=

# express+webpack
# 端口号，默认8080
# PORT=

# webpack+express
# 开启开发环境同构打包构建&开启后端渲染代理
# ALLOW_ISOMORPHIC_PROXY=

# webpack
# 选择性编译（入口／入口过滤，使用‘;’进行分割）
# ENTRY=
# ENTRYFILTER=
